<!doctype html>
<html>
<head>
    <style type=text/css>
        #rule-box { display: none;
                    width: 100px;
                    height: 100px;}
        #rules {
            text-decoration: underline;
            color: blue;
        }
    </style>
<script type="text/javascript">
    document.write("\<script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'>\<\/script>");
</script>

</head>
<body>
<h4>ListServ</h4>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endwith %}

{% block content %}
{% endblock content %}
</body>
</html>
