{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/subscribe">
<label for='email'>Subscribe: </label>
{{ form.email }}
<input type="submit" value="Submit"> 
</form>
Want to unsubscribe? click <a href='/unsub'>here</a>
<br>
<br>
{% for mem in lst %}
{{ mem }}
<br>
{% endfor %}
<br>
<p id=rules >Rules</p>
<div id=rule-box>
No links, No fighting no biting, no screaming no...
</div>
<script>
$('#rules').click(function() {
  $('#rule-box').slideDown('slow', function() {
    // Animation complete.
  });
});
</script>
{% endblock %}
